@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
    --color-1: #eb2f64;
    --color-1l: #ff3366;
    --color-1d: #ba265d;

    --color-gl1: #faf9f9;
    --color-gl2: #f4f2f2;
    --color-gl3: #f0eeee;
    --color-gl4: #ccc;

    // #333 #777 #999
    // --color-grey-dark-1: #333;
    // --color-grey-dark-2: #777;
    // --color-grey-dark-3: #999;

    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
    --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

    --border: 1px solid var(--color-gl2);
}

$width-1250: 78.125em;
$width-1200: 75em;
$width-1100: 68.75em;
$width-1000: 62.5em;
$width-900: 56.25em;
$width-848: 53em;
$width-800: 50em;
$width-750: 46.875em;
$width-700: 43.75em;
$width-600: 37.5em;
$width-500: 31.25em;
$width-450: 28.125em;
$width-400: 25em;
$width-325: 20.3em;

* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

    @media only screen and (max-width: $width-1250) {
        font-size: 9.6px; // 60%
    }

    @media only screen and (max-width: $width-1200) {
        font-size: 8.8px; // 55%
    }

    @media only screen and (max-width: $width-1100) {
        font-size: 8px; // 50%
    }

    @media only screen and (max-width: $width-600) {
        font-size: 7.2px; // 45%
    }

    @media only screen and (max-width: $width-400) {
        font-size: 6.4px; // 40%
    }

    @media only screen and (max-width: $width-325) {
        font-size: 6px; // 37.5%
    }
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6;

    // prettier-ignore
    background-image: linear-gradient(to right bottom, var(--color-1l), var(--color-1d));
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;

    @media only screen and (max-width: $width-848) {
        background-color: #fff;
    }
}
