// // // /// // // // // // // // // // // // // // //

.logo,
.logo:link,
.logo:visited {
    display: flex;
    align-items: center;

    margin-left: 2rem;
    text-decoration: none;
    height: 5rem;

    @media only screen and (max-width: $width-450) {
        margin-left: 3rem;
    }

    @media only screen and (max-width: $width-400) {
        margin-left: 2rem;
    }
}

.logo {
    color: var(--color-1l);

    &-1 {
        text-transform: uppercase;
        font-size: 2.5rem;
        font-weight: 700;

        @media only screen and (max-width: $width-500) {
            font-size: 3rem;
        }

        @media only screen and (max-width: $width-400) {
            font-size: 2.8rem;
        }

        @media only screen and (max-width: $width-325) {
            font-size: 3rem;
        }
    }

    &-2 {
        font-size: 1.6rem;
        font-weight: 400;
        border: 1px solid var(--color-1l);
        border-radius: 3px;
        padding: 0 0.5rem;
        margin-left: 0.5rem;
        transform: translateY(0.1rem);

        @media only screen and (max-width: $width-500) {
            font-size: 1.8rem;
        }

        @media only screen and (max-width: $width-400) {
            font-size: 1.7rem;
        }

        @media only screen and (max-width: $width-325) {
            font-size: 1.8rem;
        }
    }
}

// // // /// // // // // // // // // // // // // // //

.search {
    position: relative;

    @media only screen and (max-width: $width-848) {
        width: 30%;
    }

    @media only screen and (max-width: $width-700) {
        width: 27.5%;
    }

    @media only screen and (max-width: $width-500) {
        flex: 0 0 100%;
        order: 1;
        padding: 0 2rem;
        transform: translateY(-0.8rem);
    }

    &__input {
        width: 35rem;
        height: 3rem;
        border-radius: 50rem;
        border: none;
        background-color: var(--color-gl2);
        padding-left: 1.5rem;
        padding-right: 1rem;

        font-family: "Open Sans", sans-serif;
        color: #555;
        font-weight: 500;

        &::placeholder {
            color: #999;
            font-weight: 300;
            font-size: 1.4rem;
        }

        transition: all 0.3s, height 0.1s;

        &:focus {
            outline: none;
            width: 37.5rem;
            height: 3.2rem;
            box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.2);

            @media only screen and (max-width: $width-500) {
                width: 100%;
            }
        }

        @media only screen and (max-width: $width-848) {
            width: 100%;
        }
    }

    &__label {
        position: absolute;
        top: 2.9rem;
        left: 2rem;
        color: #999;

        font-size: 1.2rem;

        transition: all 0.3s;
    }

    &__input:placeholder-shown + &__label {
        top: 1rem;
        opacity: 0;
        visibility: hidden;
    }

    &__button {
        width: 2rem;
        height: 3rem;

        border: none;
        background-color: transparent;

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1rem;
        z-index: 10;

        cursor: pointer;
        transition: all 0.3s;

        &:active {
            transform: translateY(-50%) scale(0.9);
        }

        @media only screen and (max-width: $width-500) {
            right: 3rem;
        }
    }

    &__input:focus ~ &__label {
        transform: translateY(0.2rem);
    }

    &__icon {
        width: 100%;
        height: 100%;
        fill: #777;
    }
}

// // // /// // // // // // // // // // // // // // //

// // // /// // // // // // // // // // // // // // //

.user-nav {
    display: flex;
    align-items: center;
    height: 100%;

    @media only screen and (max-width: $width-500) {
        height: 6rem;
    }

    &__icon-box {
        display: flex;
        align-items: center;
        height: 100%;

        position: relative;

        border-left: 1px solid var(--color-gl3);
        border-right: 1px solid var(--color-gl3);

        @media only screen and (max-width: $width-500) {
            border: 1px solid var(--color-gl3);
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }

        cursor: pointer;
        transition: background-color 0.1s, transform 0.2s;

        &:hover {
            background-color: var(--color-gl2);
        }

        &:active {
            transform: scale(0.9);
        }
    }

    &__icon {
        width: 7rem;
        height: 3.5rem;
        fill: #999;

        @media only screen and (max-width: $width-400) {
            width: 6rem;
        }
    }

    &__notif {
        display: block;

        position: absolute;
        top: 1rem;
        right: 1.5rem;

        font-size: 1.2rem;
        color: #fff;

        background-color: var(--color-1);
        border-radius: 50%;
        padding: 0.1rem 0.6rem;

        @media only screen and (max-width: $width-600) {
            top: 1.5rem;
        }

        @media only screen and (max-width: $width-500) {
            top: 0.5rem;
        }

        @media only screen and (max-width: $width-400) {
            top: 0.2rem;
            right: 1rem;
        }
    }

    &__user {
        display: flex;
        align-items: center;
        gap: 1rem;
        height: 100%;
        padding: 0 2rem;

        cursor: pointer;
        transition: background-color 0.1s, transform 0.2s;

        &:hover {
            background-color: var(--color-gl2);
        }

        &:active {
            transform: scale(0.95);
        }

        @media only screen and (max-width: $width-500) {
            margin-right: 2rem;
            transform: translateX(-1px);
            border: 1px solid var(--color-gl3);
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        @media only screen and (max-width: $width-450) {
            margin-right: 3rem;
        }

        @media only screen and (max-width: $width-400) {
            margin-right: 2rem;
        }
    }

    &__img-box {
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
        overflow: hidden;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        // transition: transform 0.5s;
    }

    // &__user:hover &__img {
    //     transform: scale(1.05);
    // }

    &__name {
        font-weight: 500;
        font-size: 1.6rem;
    }
}

// // // /// // // // // // // // // // // // // // //

.nav {
    // width: 22rem;
    min-height: 43rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #333;

    @media only screen and (max-width: $width-900) {
        width: revert;
        min-height: revert;
    }

    &__items {
        list-style: none;
        margin-top: 3rem;
        font-size: 1.4rem;

        @media only screen and (max-width: $width-900) {
            margin-top: 0;
            display: flex;
            justify-content: center;
        }
    }

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-bottom: 0.5rem;

            @media only screen and (max-width: $width-900) {
                margin-bottom: 0;
            }
        }

        @media only screen and (max-width: $width-900) {
            flex: 1;

            &:not(:last-child) {
                border-right: 1px solid #555;
            }
        }
    }

    &__item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--color-1);
        transform: scaleY(0);

        // prettier-ignore
        transition: transform 0.2s, 
                    width 0.5s cubic-bezier(1, 0, 0, 1) 0.2s,
                    background-color 0.1s;
        cursor: pointer;
    }

    &__item:hover::before,
    &__item--active::before {
        transform: scaleY(1);
        width: 100%;
    }

    &__item:active::before {
        background-color: var(--color-1l);
    }

    // &__item:hover::before,
    // &__item--active::before {
    //     transform: scaleY(1);
    //     width: 100%;

    // }

    // &__item:active::before {
    //     background-color: var(--color-primary-light);
    // }

    &__link,
    &__link:link,
    &__link:visited {
        display: flex;
        align-items: center;

        color: var(--color-gl1);
        text-decoration: none;
        text-transform: uppercase;

        position: relative;
        z-index: 10;

        padding: 1.5rem 3rem;

        @media only screen and (max-width: $width-900) {
            padding: 2rem 4rem;

            display: flex;
            justify-content: center;
        }

        @media only screen and (max-width: $width-700) {
            padding: 2rem 3rem;
        }

        @media only screen and (max-width: $width-600) {
            padding: 2rem 0rem;
        }

        @media only screen and (max-width: $width-500) {
            padding: 2.5rem 0rem;
        }
    }

    &__icon {
        fill: var(--color-gl1);
        width: 1.8rem;
        height: 1.8rem;
        margin-right: 2rem;

        @media only screen and (max-width: $width-500) {
            margin-right: 1rem;
        }

        @media only screen and (max-width: $width-400) {
            margin-right: 0.75rem;
        }
    }
}

.cr {
    color: var(--color-gl4);
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.33px;

    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 1.5rem;
    border-top: 1px solid #777;
    padding-top: 1.2rem;
}

// // // /// // // // // // // // // // // // // // //

.gallery {
    display: flex;

    &__img {
        display: block;
        width: 100%;
    }
}

// // // /// // // // // // // // // // // // // // //

.overview {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-gl3);

    &__heading {
        font-size: 2.25rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1.5rem 3rem;
    }

    &__stars {
        display: flex;
        margin-right: auto;
    }

    &__icon-star,
    &__icon-location {
        fill: var(--color-1);
        width: 2rem;
        height: 2rem;
    }

    &__location {
        display: flex;
        align-items: center;
    }

    &__icon-location {
        margin-right: 0.5rem;
    }

    &__rating {
        margin-left: 3rem;
        color: #fff;
        background-color: var(--color-1);
        padding: 0 2.25rem;
        align-self: stretch;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &-average {
            font-size: 2.25rem;
            font-weight: 400;
            margin-bottom: -3px;
        }

        &-count {
            font-size: 0.9rem;
            text-transform: uppercase;
        }
    }
}

// // // /// // // // // // // // // // // // // // //

.btn-inline {
    border: none;
    background-color: transparent;
    display: inline-block;

    color: var(--color-1);
    font-size: 1.3rem;

    padding-bottom: 2px;
    border-bottom: 1px solid currentColor;

    cursor: pointer;
    transition: all 0.1s;

    & span {
        margin-left: 3px;
        transition: margin-left 0.2s;
    }

    &:hover {
        color: var(--color-1d);

        span {
            margin-left: 8px;
        }
    }

    &:focus {
        outline: none;
        animation: pulsate 1s infinite;
    }
}

@keyframes pulsate {
    0% {
        transform: scale(1);
        box-shadow: none;
        background-color: transparent;
    }

    50% {
        transform: scale(1.05);
        box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
        background-color: rgba(0, 0, 0, 0.05);
    }

    100% {
        transform: scale(1);
        box-shadow: none;
        background-color: transparent;
    }
}

// // // /// // // // // // // // // // // // // // //

.detail {
    display: flex;
    background-color: var(--color-gl1);
    padding: 4.5rem;
    font-size: 1.4rem;

    @media only screen and (max-width: $width-750) {
        flex-direction: column;
    }

    @media only screen and (max-width: $width-450) {
        padding: 3rem;
    }
}

.description {
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    margin-right: 4rem;
    flex: 0 0 60%;
    color: #777;

    @media only screen and (max-width: $width-750) {
        width: 100%;
        margin-bottom: 4rem;
        flex: revert;
    }

    @media only screen and (max-width: $width-400) {
        padding: 2rem;
    }
}

.user-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1; // occuping the remaining space of 40%

    @media only screen and (max-width: $width-750) {
        align-items: revert;

        .btn-inline {
            width: fit-content;
            margin: 0 auto;
        }
    }
}

// // // /// // // // // // // // // // // // // // //

.paragraph:not(:last-of-type) {
    margin-bottom: 2rem;
}

.list {
    list-style: none;
    margin: 3rem 0;
    padding: 3rem 0;
    border-top: var(--border);
    border-bottom: var(--border);
    display: flex;
    flex-wrap: wrap;

    &__item {
        flex: 0 0 50%;
        margin-bottom: 0.7rem;
    }

    &__item::before {
        content: "";
        display: inline-block;
        width: 1rem;
        height: 1rem;
        margin-right: 0.7rem;

        // using svg in css - 2 options:
        // Older browsers
        background-image: url(../img/svg/chevron-thin-right.svg);
        background-size: cover;

        // Newer browsers - masks
        @supports (-webkit-mask-image: url()) or (mask-image: url()) {
            background-color: var(--color-1);
            -webkit-mask-image: url(../img/svg/chevron-thin-right.svg);
            -webkit-mask-size: cover;
            mask-image: url(../img/svg/chevron-thin-right.svg);
            mask-size: cover;
            background-image: none;
        }
    }
}

.recommend {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    color: #999;

    &__count {
        margin-right: auto;
    }

    &__friends {
        display: flex;
    }

    &__photo {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        border: 3px solid #fff;
        margin-left: -2rem;

        @media only screen and (max-width: $width-400) {
            margin-left: -2.5rem;
        }

        @media only screen and (max-width: $width-400) {
            margin-left: -2.2rem;
        }
    }
}
// // // /// // // // // // // // // // // // // // //

.user-review {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.review {
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    margin-bottom: 3.5rem;

    @media only screen and (max-width: $width-400) {
        padding: 2rem;
    }

    &__text {
        margin-bottom: 2rem;
    }

    &__user {
        display: flex;
        align-items: center;
    }

    &__photo {
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
        margin-right: 1.5rem;
    }

    &__user-box {
        margin-right: auto;
    }

    &__user-name {
        font-size: 1.1rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 0.4rem;
    }

    &__user-date {
        font-size: 1rem;
        color: #999;
    }

    &__rating {
        color: var(--color-1);
        font-size: 2.2rem;
        font-weight: 300;
    }
}

// // // /// // // // // // // // // // // // // // //

.cta {
    border-top: 1px solid var(--color-gl3);
    padding: 3.5rem 0;
    text-align: center;

    &__heading-2 {
        font-weight: 300;
        font-size: 2rem;
        margin-bottom: 2.5rem;
        text-transform: uppercase;

        @media only screen and (max-width: $width-500) {
            font-size: 1.9rem;
        }

        @media only screen and (max-width: $width-450) {
            font-size: 1.7rem;
        }

        @media only screen and (max-width: $width-400) {
            font-size: 1.55rem;
        }
    }
}

// // // /// // // // // // // // // // // // // // //

.btn {
    background-color: transparent;
    border: none;
    color: #fff;
    // prettier-ignore
    background-image: linear-gradient(to right, var(--color-1l), var(--color-1d));
    border-radius: 100px;
    font-weight: 300;
    font-size: 1.5rem;
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
    cursor: pointer;

    & > * {
        display: inline-block;
        width: 100%;
        height: 100%;
        transition: all 0.2s;
    }

    &__visible {
        padding: 2rem 7.5rem;
    }

    &__invisible {
        padding: 2rem 0;

        position: absolute;
        left: 0;
        top: -100%;
    }

    &:hover {
        // prettier-ignore
        background-image: linear-gradient(to right, var(--color-1d), var(--color-1l));
    }

    &:hover &__visible {
        transform: translateY(100%);
    }

    &:hover &__invisible {
        top: 0;
    }

    &:focus {
        outline: none;
        animation: pulsate 1s infinite;
    }
}

// // // // // // // // // // // // // // // // // //
// Popup Intro

.intro-popup {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1200;

    width: 50rem;
    background-color: #fff;

    border-radius: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;

    &__title {
        width: 100%;
        height: 4rem;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;

        display: flex;
        align-items: center;
        background-color: var(--color-1);

        color: #fff;
        text-indent: 1.5rem;
        font-size: 1.8rem;
        font-weight: 500;
        letter-spacing: 1px;
        margin-bottom: 2rem;
    }

    &__text {
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 1rem;

        &--title {
            font-weight: 600;
        }
    }

    a,
    a:link,
    a:visited {
        color: var(--color-1);
        text-decoration: none;
    }

    a:hover {
        border-bottom: 1px solid var(--color-1);
    }

    &__button {
        margin-bottom: 2rem;
        font-family: "Open Sans", sans-serif;
        font-size: 2rem;
        padding: 0.4rem 2rem;
        border: none;
        background-color: var(--color-1l);
        color: #fff;
        border-radius: 3px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        margin-left: 40rem;
        cursor: pointer;
        transition: transform 0.2s;
    }

    &__button:active {
        transform: scale(0.9);
    }

    &__background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1000;

        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);

        display: none;
        opacity: 0;
        transition: opacity 0.2s;
    }

    & {
        display: none;
        opacity: 0;
        transition: opacity 0.2s;
    }
}

// // // // // // // // // // // // // // // // // //
